*~
*.bs
*.o
.coveralls.yml
/Debian_CPANTS.txt
/Perfect-Hash-*.tar.gz
/cmph-*.tar.gz
cmph-2.0/CMPH.c
cmph-2.0/Makefile.orig
cmph-2.0/TAGS
cmph-2.0/autom4te.cache/
examples/words
script/phash
META.json
META.yml
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
Hash.c
Hash.o
Hash.obj
Hash.c.gcov
Hash.xs.gcov
Hash.gcda
Hash.gcno
pm_to_blib
/blib
/cover_db
/perf.data
/log.test-*
/log.bench-*
cmph-2.0/bin/
cmph-2.0/blib/
cmph-2.0/cmph.pc
cmph-2.0/config.h
cmph-2.0/config.log
cmph-2.0/config.status
cmph-2.0/cxxmph.pc
cmph-2.0/cxxmph/.deps/
cmph-2.0/examples/.deps/
cmph-2.0/examples/.libs/
cmph-2.0/examples/file_adapter_ex2
cmph-2.0/examples/struct_vector_adapter_ex3
cmph-2.0/examples/vector_adapter_ex1
cmph-2.0/include/
cmph-2.0/lib/
cmph-2.0/libtool
cmph-2.0/share/
cmph-2.0/src/.deps/
cmph-2.0/src/.libs/
cmph-2.0/src/bdz.lo
cmph-2.0/src/bdz_ph.lo
cmph-2.0/src/bm_numbers
cmph-2.0/src/bmz.lo
cmph-2.0/src/bmz8.lo
cmph-2.0/src/brz.lo
cmph-2.0/src/buffer_entry.lo
cmph-2.0/src/buffer_manager.lo
cmph-2.0/src/chd.lo
cmph-2.0/src/chd_ph.lo
cmph-2.0/src/chm.lo
cmph-2.0/src/cmph
cmph-2.0/src/cmph.lo
cmph-2.0/src/cmph_benchmark.lo
cmph-2.0/src/cmph_structs.lo
cmph-2.0/src/compressed_rank.lo
cmph-2.0/src/compressed_seq.lo
cmph-2.0/src/fch.lo
cmph-2.0/src/fch_buckets.lo
cmph-2.0/src/graph.lo
cmph-2.0/src/hash.lo
cmph-2.0/src/jenkins_hash.lo
cmph-2.0/src/libcmph.la
cmph-2.0/src/linear_string_map.lo
cmph-2.0/src/miller_rabin.lo
cmph-2.0/src/select.lo
cmph-2.0/src/vqueue.lo
cmph-2.0/src/vstack.lo
cmph-2.0/stamp-h1
cmph-2.0/tests/.deps/
cmph-2.0/tests/.libs/
cmph-2.0/tests/cmph_benchmark_test
cmph-2.0/tests/compressed_rank_tests
cmph-2.0/tests/compressed_seq_tests
cmph-2.0/tests/graph_tests
cmph-2.0/tests/mphf_tests
cmph-2.0/tests/packed_mphf_tests
cmph-2.0/tests/select_tests
